MEDTRUST_CONNECTOR_DATA_ROOT=D:/MedTrustData/hospital-connector-alpha
MEDTRUST_CONNECTOR_REVOKE_DATA_ROOT=D:/MedTrustData/hospital-connector-alpha-revoke
MEDTRUST_CONNECTOR_PKI_ROOT=D:/MedTrustData/hospital-connector-alpha/pki
MEDTRUST_CONNECTOR_CACHE_ROOT=D:/MedTrustCache/hospital-connector-alpha
